coverage
/Gemfile.lock
/TAGS
.idea
pkg
tmp/*
.vscode
integration-specs/rails-app/Gemfile.lock
integration-specs/simple/Gemfile.lock
.envrc
.devenv
/.pre-commit-config.yaml
/integration-specs/rails-app/db/migrate/
/integration-specs/rails-app/db/structure.sql
