# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Sequent - CQRS & event sourcing framework for Ruby
title_separator: "|"
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  CQRS & event sourcing framework for Ruby.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://sequent.io" # the base hostname & protocol for your site, e.g. http://example.com
#  twitter_username: jekyllrb
# github_username:  jekyll

# Build settings
markdown: kramdown
# Jekyll theme: https://mmistakes.github.io/minimal-mistakes/docs/configuration/
remote_theme: "mmistakes/minimal-mistakes"
minimal_mistakes_skin: "mint" # "default", "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum" "sunrise"
enable_copy_code_button: true
# Enable site-wide search
search: true
lunr:
  search_within_pages: true
search_full_content: true

plugins:
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-sitemap

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

analytics:
  provider: "google-gtag"
  google:
    tracking_id: "UA-3378004-10"
    anonymize_ip: true

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: false
      related: false
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: false
      share: false
      sidebar:
        nav: "docs"
